a:link {
  color: hotpink;
  size: 20px;
}
a:visited {
  color: rgb(121, 119, 119);
}

a:hover {
  color: rgb(113, 105, 228);
}

a:active {
  color: orangered;
}

button {
  display: block;
  margin-top: 10px;
  height: 30px;
  width: 100px;
  color: orangered;
  font-size: 20px;
}
button:hover {
  background-color: lightskyblue;
}

.button {
  text-decoration: none;
}



